main {
    padding: 30px;
}

.animals img {
    width: 160px;
    height: 200px;
    margin: 20px;
    display: flex;
    flex-direction: column;

}

h2 {
    color: hotpink;
    background-color: white;
}

body {
    background-image: url(../assets/download.jpg)
}